.photo-container {
    z-index: -2;
    width:40%;
    height: 60px;
    position: absolute;
    top: 15%;
    bottom: auto;
    right: 11%;
    left: auto;
    margin: auto;

    // svg {
    //     width: 100%;
    //     height: auto;
    //     bottom: 0;
    // }

    // .solid-photo {
    //     position: absolute;
    //     top: auto;
    //     right: auto;
    //     bottom: auto;
    //     left: 0;
    //     margin: auto;
    //     width: 100%;
    //     opacity: 0; 
    //     z-index: 1;
    // }
}

// .svg-container {
//     stroke: #ec830a;
//     stroke-width: 10px; 
// }
